<div class="page-container">
  <header class="page-header">
    <div class="title-group">
      <h1>Gestión de Citas</h1>
      <p>Administra las citas de tus clientes</p>
    </div>
    <button class="btn-primary" (click)="openCreateModal()">
      <i class="fas fa-plus"></i> Nueva Cita
    </button>

    @if (showModal()) {
      <div class="modal-overlay">
    <div class="modal-container">
      <app-appointment-form 
        [appointmentToEdit]="selectedAppointment()"
        (close)="closeModal()" 
        (saved)="handleSave($event)">
      </app-appointment-form>
    </div>
  </div>
    }
  </header>

  <section class="filters-card">
    <div class="date-selector">
      <label><i class="fas fa-calendar-alt"></i> Fecha:</label>
      <input type="date" [value]="selectedDate()" (change)="onDateChange($event)" id="dateInput">

      <button class="btn-today" (click)="setToday()">Hoy</button>

      <label for=""> Filtros: </label>
      <select #employeeSelect name="employees" id="employeesSelect" (change)="employeeFilter(employeeSelect.value)">
        <option value="all">Todos los empleados</option>
        @for (item of employees(); track item.id) {
          <option value="{{ item.id }}">{{ item.name }}</option>
        }
      </select>
    </div>
    <div class="date-info">
      <strong>{{ appointments().length }}</strong> citas para el {{ dateLabel() }}
    </div>
  </section>

  <div class="search-container">
    <i class="fas fa-search"></i>
    <input type="text" placeholder="Buscar por cliente, teléfono o servicio...">
  </div>

  <app-table [columns]="tableColumns" [data]="filteredAppointments()" emptyMessage="No hay citas programadas para esta fecha"
      (onEdit)="openEditModal($event)" (onDelete)="onCancel($event)" (onSpecialAction)="billAppointment($event)"> 
      </app-table>
</div>