<div class="page-container">
  <div class="header-section">
    <div class="title-block">
      <h1>Gestión de Empleados</h1>
      <p>Administra tu equipo de trabajo</p>
    </div>
    <button class="btn-primary" (click)="openModal()">+ Nuevo Empleado</button>
  </div>

  @if (showEmployeesModal()) {
    <app-employee-form 
      [employeeToEdit]="selectedEmployee()"
      (close)="closeModal()" 
      (save)="handleSave($event)">
    </app-employee-form>
  }
  @if (showAbsencesModal()){
    <app-absence-form
    [employee]="selectedEmployee()"
    (close)="closeAbsences()"
    (save)="createAbsence($event)"
    >
    
    </app-absence-form>
  }

  <div class="stats-grid">
    <app-card
        title="Total empleados" value="{{employees().length}}" 
        trendText="" iconClass="fas fa-users" 
        iconBgColor="#3b82f6">
    </app-card>

    <app-card
        title="Empleados activos" value="{{ activeEmployees() }}" 
        trendText="" iconClass="fas fa-user-check" 
        iconBgColor="#10b981">
    </app-card>

    <app-card
        title="Empleados inactivos" value="{{ inactiveEmployees() }}" 
        trendText="" iconClass="fas fa-user-minus" 
        iconBgColor="#F00F">
    </app-card>
  </div>

  <app-table [columns]="tableColumns" [data]="employees()" emptyMessage="No hay empleados registrados"
      (onEdit)="openEditModal($event)" (onDelete)="deleteEmployee($event)" (onSpecialAction)="openAbsences($event)">
    </app-table>
</div>