<div class="sidebar">
  <div class="sidebar-header">
    <div class="logo-container">
      <i class="fas fa-cut"></i>
    </div>
    <div class="header-text">
      <span class="brand-name">BarberPro</span>
      <span class="sub-title">Panel de Control</span>
    </div>
  </div>

  <nav class="sidebar-nav">
    <ul>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">
          <i class="fas fa-th-large"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li>
        <a routerLink="/appointments" routerLinkActive="active">
          <i class="far fa-calendar-alt"></i>
          <span>Citas</span>
        </a>
      </li>

      <li>
        <a routerLink="/employees" routerLinkActive="active" >
          <i class="fas fa-users"></i>
          <span>Empleados</span>
        </a>
      </li>

      <li>
        <a routerLink="/billing" routerLinkActive="active" >
          <i class="far fa-file-alt"></i>
          <span>Facturación</span>
        </a>
      </li>

      <li>
        <a routerLink="/configuration" routerLinkActive="active">
          <i class="fas fa-cogs"></i>
          <span>Configuración</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="sidebar-footer">
    <button class="btn-logout" (click)="authService.logout()">
      <i class="fas fa-sign-out-alt"></i>
      <span>Cerrar sesión</span>
    </button>

    <div class="user-card">
      <span class="user-name">{{ user() }}</span>
      <span class="user-email">admin@barberpro.com</span>
    </div>
  </div>
</div>