<div class="modal-overlay">
  <div class="modal-card">
    <div class="modal-header">
      <h2>{{tittle()}}</h2>
      <button class="btn-close" (click)="onClose()"><i class="fas fa-times"></i></button>
    </div>

    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="modal-body">
      <div class="form-grid">
        <div class="form-group">
          <label for="name">Nombre Completo *</label>
          <input type="text" id="name" formControlName="name" placeholder="Ej. Juan Pérez">
        </div>

        <div class="form-group">
          <label for="hireDate">Fecha de Alta *</label>
          <input type="date" id="hireDate" formControlName="hireDate">
        </div>
      </div>

      <div class="form-group full-width">
        <label for="status">Estado *</label>
        <select id="status" formControlName="active">
          <option [value]="true">Activo</option>
          <option [value]="false">Inactivo</option>
        </select>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn-secondary" (click)="onClose()">Cancelar</button>
        <button type="submit" class="btn-primary">
          Dar de Alta
        </button>
      </div>
    </form>
  </div>
</div>