 <div class="table-card">
    <div class="table-header"
    [style.grid-template-columns]="'repeat(' + (columns().length + 1) + ', 1fr)'">
        @for (col of columns(); track $index) {
            <div>{{col.label}}</div>
        }
    </div>

    <div class="table-body">
      @if (data().length > 0) {
        @for (item of data(); track item.id) {
          <div class="table-row"
          [style.grid-template-columns]="'repeat(' + (columns().length + 1) + ', 1fr)'">
            @for (col of columns(); track col.key) {
                @if (col.type === 'date') {
                  <div>
                  {{item[col.key] | date: 'dd/MM/yy'}}
                  </div>  
                }

                @else if (col.type === 'currency') {
                  <div>
                  {{item[col.key] }}€
                  </div>
                }

                @else if (col.type === undefined) {
                  <div>
                    {{ item[col.key] }}
                  </div>
                }
            }
            
            <div class="actions">
                @if (item.active !== undefined) {
                    <button class="btn-icon special" (click)="onSpecialAction.emit(item)">
                        <i class="fas fa-calendar-times"></i>
                    </button>
                }

                @if(item.status !== undefined) {
            
                    <button class="btn-icon special" (click)="onSpecialAction.emit(item)">
                        <i class="fas fa-file-invoice-dollar"></i>
                    </button>
                }
                
                @if (item.invoiceNumber !== undefined){
                    <button class="btn-icon special" (click)="onSpecialAction.emit(item)">
                        <i class="fas fa-file-download"></i>
                    </button>
                }
              <button class="btn-icon edit" (click)="onEdit.emit(item)">
                <i class="fas fa-edit"></i>
              </button>
              <button class="btn-icon delete" (click)="onDelete.emit(item)">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>
        }
      } @else {
        <div class="empty-state">
          <i class="fas fa-calendar-times"></i>
          <p>{{emptyMessage()}}</p>
        </div>
      }
    </div>