<div class="citas-card">
  <div class="citas-header">
    <svg class="icon-clock" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <circle cx="12" cy="12" r="10"></circle>
      <polyline points="12 6 12 12 16 14"></polyline>
    </svg>
    <h2>Citas de Hoy</h2>
  </div>

  <div class="citas-body">
      
    @for (item of sortedAppointments(); track $index) {
        <app-appointment-item [clientName]="item.customerName" [serviceType]="item.serviceName"
         [employeeName]="item.employeeName" [appointmentTime]="item.startTime"></app-appointment-item>
    }

  </div>
</div>